.header {
  margin: 92px 0;
  font-size: 18px;
  line-height: 23.5px;
}

.header__content {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
}

.header__address {
  margin-left: auto;
}

.menu {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.menu__item {
  border-bottom: 1px solid var(--black);
  cursor: pointer;
}

.menu__item:hover {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease 0s;
}

.menu__item-active {
  border-bottom: none;
  list-style: none;
}
