.cover {
  padding: 165px 0 50px 0;
  background: url("../../images/cover.jpg") center / cover no-repeat;
  color: #fff;
  position: relative;
}

.cover__wrapper {
  display: flex;
  flex-direction: column;
  gap: 129px;
  position: relative;
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.cover__aligned-start {
  text-align: start;
  line-height: 120%;
}

.cover__aligned-center {
  text-align: center;
  line-height: 92%;
}

.cover__aligned-end {
  text-align: end;
  line-height: 110%;
}

.cover__content {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}

.cover__description {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}
