.lots {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.lots__title {
  margin-left: 40px;
}

.lots__cards {
  display: flex;
  gap: 24px;
  color: var(--white);
  flex-wrap: wrap;
}

.lots__card {
  display: block;
  padding: 50px 40px;
  position: relative;
  flex: 1 1 32%;
}

.lots__card-film {
  background: url("../../images/card-lot-01.jpg") center / cover no-repeat;
}

.lots__card-book {
  background: url("../../images/card-lot-02.jpg") center / cover no-repeat;
}

.lots__card-picture {
  background: url("../../images/card-lot-03.jpg") center / cover no-repeat;
}

.lots__card-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  position: relative;
  z-index: 1;
}

.lots__card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lots__card-text {
  margin-top: auto;
  line-height: 120%;
}

.lots__button {
  margin-left: 40px;
  line-height: 140%;
}
