.lots {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.lots__title {
  margin-left: 36px;
}

.lots__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  color: var(--white);
}

.lots__card {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}

.lots__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.lots__card-film {
  background: url("../../images/card-lot-01.jpg") 0 0 / cover no-repeat;
  position: relative;
}

.lots__card-book {
  background: url("../../images/card-lot-02.jpg") 0 0 / cover no-repeat;
  position: relative;
}

.lots__card-picture {
  background: url("../../images/card-lot-03.jpg") 0 0 / cover no-repeat;
  position: relative;
}

.lots__card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lots__card-title:hover {
  opacity: 0.7;
  cursor: pointer;
}

.lots__card-text {
  margin-top: auto;
}

.lots__button {
  margin-left: 36px;
}
